:root {
    --hover-links: #FFB932;
    --download-cv: rgba(255, 185, 50, .78);
    --grey-page: #263238;
}

h1, h2, h3, h4, h5, h6 {
    cursor: default;
}

.body {
    transition: all ease-in 500ms;
}


/*  */

.div-toggle-button {
    width: 90%;
    height: 20px;
    background: transparent;
    position: relative;
    margin: 0 1%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.night {
    background: rgb(8, 6, 6);
}

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .toggle-slot {
    font-size: 10px;
    position: relative;
    height: 2.5em;
    width: 6em;
    border: 1px solid transparent;
    border-radius: 10em;
    background-color: white;
    transition: background-color 250ms;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot {
    background-color: #374151;
  }
  
  .toggle-button {
    transform: translate(0.3em, 0.25em);
    position: absolute;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
    transition: background-color 500ms, border-color 500ms, transform 1000ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.75em white;
    transform: translate(3.65em, 0.25em);
  }
  
  .sun-icon {
    position: absolute;
    height: 4em;
    width: 4em;
    color: #ffbb52;
  }
  
  .sun-icon-wrapper {
    position: absolute;
    height: 4em;
    width: 4em;
    opacity: 1;
    transform: translate(2em, 2em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(3em, 2em) rotate(0deg);
  }
  
  .moon-icon {
    position: absolute;
    height: 4em;
    width: 4em;
    color: white;
  }
  
  .moon-icon-wrapper {
    position: absolute;
    height: 4em;
    width: 4em;
    opacity: 0;
    transform: translate(11em, 2em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(2em, 2em) rotate(-15deg);
  }


/*  */

body::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai';
    scroll-behavior: smooth;
}

.header, .header-dark {
    width: 100%;
    height: 98.5vh;
    box-shadow: 0 .5em 1em grey;
    transition: all ease-in 300ms;
}

.header::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background: url('../img/fondo-header-light.jpg') no-repeat;
    background-size: cover;
    filter: brightness(80%);
    transition: all ease-in 300ms;
}

.header-dark::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background: url('../img/fondo-header.jpg') no-repeat;
    background-size: cover;
    filter: brightness(50%);
    transition: all ease-in 300ms;
}

.nav-bar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2;
    flex-shrink: 1;
    /* background: red; */
    position: relative;
}

.items ul li {
    list-style: none;
    display: inline;
    font-size: 1.5em;
    padding: 2em 2em 1em 2em;
    border-bottom: solid 2px transparent;
    transition: all ease-in 400ms;
}

.items ul li a {
    text-decoration: none;
    color: #000;
    transition: all ease-in 400ms;
}

.items ul li a:hover {
    color: var(--hover-links);
}

.items ul li:hover {
    border-bottom: solid 2px white;
}

/* .items {
    background: rebeccapurple;
} */


.logo-nav {
    max-width: 100%;
}

.main-logo {
    margin-top: 3.5em;
    width: 4.5%;
}

.logo-title {
    text-align: center;
    /* margin: 10% 55% 0 0; */
}

.logo-title a {
    color: #fff;
    text-decoration: none;
}

.logo-title span {
    color: var(--hover-links);
}

.download-cv {
    width: 125%;
    background: var(--download-cv);
    padding: .65em;
    border-radius: 1.5em;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}



/* SOBRE MI */

.about-me {
    width: 80%;
    height: auto;
    margin-top: 11%;
    margin-left: 11%;
    /* background: red; */
    position: relative;
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.description {
    width: 80%;
    background: transparent;
    border: solid 2px rgba(255, 185, 50, .2);
    border-radius: 20px;
    margin-right: 5%;
    padding: 1em;
    color: #fff;
    backdrop-filter: blur(10px);
}

.photo {
    width: 20%;
}

.photo img {
    border-radius: 100%;
    width: 110%;
    filter: brightness(70%);
}

.bar-div {
    border-color: var(--hover-links);
}

.text-description {
    font-size: 1.5em;
    text-align: justify;
    padding-top: 1.5em;
}

main {
    margin-top: 60px;
}

.title-section {
    text-align: center;
    font-size: 3em;
    margin-bottom: 2em;
}

.cards-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.card {
    width: 25em;
    height: 25em;
    border-radius: 65px;
    box-shadow: 0 0 10px rgb(120, 116, 116);
    /* background-color: #FFB932; */
    transition: all ease-out 300ms;
    overflow: hidden;
}

.card .img-cards {
    width: 60%;
    padding: 5% 20%;
    transition: all ease-out 300ms;
}

.card .caption-cards {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    /* margin-top: 5%; */
    margin-bottom: 2%;
    cursor: default;
}

.card:hover {
    /* background: #FFB932; */
    transition: all ease-in 300ms;
}

.card figure {
    transition: all ease-in 300ms;
}

.card figure p {
    color: transparent;
    padding: .5em 2em;
    transition: all ease-in 300ms;
}

.card:hover figure {
    transform: translateY(-10px);
    transition: all ease-in 300ms;
}

.card:hover .img-cards {
    width: 25%;
    margin-bottom: -20px;
    margin-left: 20%;
    margin-top: .5%;
    transition: all ease-out 300ms;
}

.card-description {
    text-align: justify;
    cursor: default;
}

.card:hover p {
    color: #898989;
    transition: all ease-in 300ms;
}

.tools-section .tools {
    margin-top: -1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    justify-items: center;
}

.tool-icon {
    width: 25%;
}

.last-item {
    width: 50%;
    grid-column: 2;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    /* background: #D9D9D9; */
    margin-top: 7em;
}

.contact-section div {
    width: 50%;
    /* background: #FFB932; */
    text-align: center;
}

.title-contact {
    font-size: 2.5em;
    text-transform: uppercase;
    border-bottom: solid 5px #FFB932;
    width:max-content;
    margin: 1.5em auto 2em;
    padding: 0.25em 1em 0.5em;
}

.contact-me {
    /* overflow-y: scroll; */
    scroll-behavior: smooth;
}

.contact-me p {
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
    margin-bottom: 10%;
}

.contact-button {
    padding: 15px 30px;
    background: var(--hover-links);
    border-radius: 1.5em;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease-out 500ms;
}

.contact-button:hover {
    /* background: #8ab6b8; */
    box-shadow: var(--hover-links) 0 0 25px;
    font-size: 1.03em;
    transition: all ease-in 500ms;
}

.img-contact-me {
    width: 65%;
    padding-left: 15em;
    margin-top: -5em;
    animation: move-up 3s infinite alternate ease-in-out;
}

@keyframes move-up {
    0% {
        padding-top: 0;
    }

    100% {
        padding-top: 5%;
    }
}

.footer {
    width: 100%;
    height: 20em;
    background: var(--grey-page);
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
    left: 0;
    bottom: 0;
    margin-top: 10em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.section-footer {
    width: 25%;
    height: 80%;
    /* background: #ffbb52; */
    text-align: center;
    color: #fff ;
}

.section-footer ul li {
    list-style: none;
    cursor: default;
}

.division-legal-info  {
    width: 95%;
    height: 1px;
    background: var(--hover-links);
}

.legal-info {
    width: 100%;
    /* background: red; */
    text-align: center;
    color: #fff;
    font-size: 1.4em;
}

.logo-nav-footer {
    width: 20%;
    margin-top: 10px;
}

.social-media {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    /* background: rebeccapurple; */
}

.social-media .icon {
    background: var(--hover-links);
    margin-left: 1em;
    width: 1.8em;
    height: 1.8em;
    padding: .2em;
    border-radius: .8em;
    color: var(--grey-page);
}